<!DOCTYPE html>
<html>

<head>
	<title>FusionBET</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>FusionBET | Log in</title>
	<!-- Tell the browser to be responsive to screen width -->
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<!-- Bootstrap 3.3.6 -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<!-- sweet alert css -->
	<link rel="stylesheet" href="/css/sweetalert.css">
	<link rel="stylesheet" href="/css/w3.css">

</head>

<body>

	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
				 aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">FusionCharts Premire League</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav navbar-right">
					
					<li>
						<a>
							<%= user.name %>
						</a>
					</li>
					<li>
						<a href="/account/logout">Logout</a>
					</li>
				</ul>
			</div>
			<!--/.nav-collapse -->
		</div>
	</nav>

	<div class="container">
		<div class="row league-header">
			<div class="col-md-10">
				<h3 class="active">
					<a>PTS:
						<span id="balance">
							<%= user.balance %>
						</span>
					</a>

				</h3>
			</div>
			
		</div>
		<div id="tbody">
			
			<% const questions_ids = bets.map(bet => String(bet.question_id)); let count = 0; %>
				<% questions.forEach(que => { %>
					<% count++; if (questions_ids.includes(String(que._id))) { %>
						<div class="success" id="<%= String(que._id) %>">
							<% const bet_no = questions_ids.indexOf(String(que._id)) %>
								<div class="w3-card-2 bet-card locked-card" id="<%= 'bet-card-' + String(que._id) %>">
									<div class="locked-text" id="<%= 'locktext-' + String(que._id) %>">
										<%= 'Locked' %>
									</div>
									<div class="bet-details">
											<div class="bet-heading" style="background-color: <%= colors[count]; %>">
												<%= que.description %> <hr> Result: <span class="result"><%= que.result ? 'Yes': 'No' %></span> <hr>
												
												<% if  (bets[bet_no].opinion === que.result) { %> 
													<h4 class="text-result">You won</h4> 
													 <% } else { %> 
													<h4 class="text-result">You lost</h4>
													<% } %>
											</div>
										<div class="mlr10">
											<div class="">
												<div class="for">
													<button class="btn btn-primary for-color fr" type="button"> For
														<span class="badge for-value"  id="<%= 'for-' + String(que._id) %>">0</span>
													</button>
												</div>
												<div class="against">
													<button class="btn btn-primary against-color fl" type="button"> Against
														<span class="badge against-value" id="<%= 'against-' + String(que._id) %>">0</span>
													</button>
												</div>

												<div style="clear: both"></div>
											</div>
											<hr />
											<div>
												<div class="amount">
													Amount:
													<span class="amount-value">
														<%= bets[bet_no].amount %>
													</span>
												</div>
												<div class="opinion">
													Opinion:
													<span class="opinion-value">
														<%= bets[bet_no].opinion === true ? 'Yes' : 'No'%>
													</span>
												</div>
												<div style="clear: both"></div>
											</div>
										</div>
									</div>
								</div>
						</div>
						<% } else { %>

							<div id="<%= String(que._id) %>">
								<% const bet_no = questions_ids.indexOf(String(que._id)) %>
									<div class="w3-card-2 bet-card" id="<%= 'bet-card-' + String(que._id) %>">
										<div class="locked-text" id="<%= 'locktext-' + String(que._id) %>" style="display: none">
											<%= 'Locked' %>
										</div>
										<div class="bet-details">
												<div class="bet-heading" style="background-color: <%= colors[count]; %>">
													<%= que.description %> <hr> Result: <%= que.result ? 'Yes': 'No' %>
												</div>
											<div class="mlr10">
												<div style="margin-bottom: 10px;">
													<!-- <div class="for">
														For:
														<span class="for-value" id="<%= 'for-' + String(que._id) %>">
															0
														</span>
													</div> -->

													<div class="for">
														<button class="btn btn-primary for-color fr" type="button"> For
															<span class="badge for-value" id="<%= 'for-' + String(que._id) %>">0</span>
														</button>
													</div>

													<!-- <div class="against">
														Against:
														<span class="against-value" id="<%= 'against-' + String(que._id) %>">
															0
														</span>
													</div> -->

													<div class="against">
														<button class="btn btn-primary against-color fl" type="button"> Against
															<span class="badge against-value" id="<%= 'against-' + String(que._id) %>">0</span>
														</button>
													</div>

													<div style="clear: both"></div>
													<hr />
												</div>
												
												<div id="<%= 'locked-input-stat-' + String(que._id) %>" style="display: none">
													<div class="amount">
														Amount:
														<span class="amount-value">
															
														</span>
													</div>
													<div class="opinion">
														Opinion:
														<span class="opinion-value">
															
														</span>
													</div>
													<div style="clear: both"></div>
												</div>
												<div id="<%= 'input-holder-' + String(que._id) %>" >
													<div class="amount">
														<input type="number" name="amount" class="form-control" id="<%= que._id %>_amount" value="0" min="0" placeholder="amount" <%= isDisabled ? 'disabled': '' %>>
													</div>
													
													<div class="opinion">
														<label class="radio-inline">
															<input type="radio" name="opinion" value="true" id="<%= que._id %>_opinion_true" required <%= isDisabled ? 'disabled': '' %>> YES
														</label>
														<label class="radio-inline">
															<input type="radio" name="opinion" value="false" id="<%= que._id %>_opinion_false" required <%= isDisabled ? 'disabled': '' %>> NO
														</label>
													</div>

													<div style="clear: both"></div>
												</div>
												<div class="lock-btn-holder" id="<%= 'lock-btn-' + String(que._id) %>">
													<button type="button" onclick="bet('<%= que._id %>')" class="btn btn-success lock-btn" <%= isDisabled ? 'disabled': '' %> >Lock</button>
												</div>
											</div>
										</div>
									</div>
							</div>
							<% } %>
								<% }) %>
		</div>

	</div>
	<!-- /.container -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
	<!-- sweet alert -->
	<script src="/scripts/sweetalert.min.js"></script>
	<script>
		window.user_id = "<%= user.id %>";
		window.balance = Number(<%= user.balance %>);
		window.user_email = "<%= user.contactEmail %>";
	</script>
	<script src="/scripts/app.js"></script>
	<script>

	</script>
</body>

</html>